.about{
    margin-top: 5vh;
    .aboutText{
        padding: 1rem;
        color: white;
        font-size: max(26px,2.9166666667vw);
        line-height: 1.1964285714;
        letter-spacing: -.005em;
        z-index: 3;
        position: relative;
     }
     span{
        display: block;
        width: 65%;
        margin-left: auto;
        @media(max-width:1024px){
            width: 100%;
            display: inline
            
        }
    }
}