.main{
    margin-bottom: 20vh;
   }
  
  .container{
    position: relative;
    height: 150vh;
    
  }
  
  .stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    align-items: center;
    justify-content: center;
    mask-image: url('/next.svg');
    -webkit-mask-image: url("/next.svg");
    mask-position: 48.35% center;
    -webkit-mask-position: 56.5% center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  
  }
  
  .stickyMask img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    
  }