


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #000000
  
 }
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Basement'; 
  src: url('/fonts/Basement.otf') format('opentype');
}


@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';