.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: max(59px,15.7333333333vw);
    @media(min-width:768px){
        margin-top: max(64px,10.3225806452vw);
    }
    @media(min-width:1024px){
        margin-top: 4.1666666667vw
    }
 

    h1{
        color: #ff4d00;
        font-family: Basement;
        width: 100%;
        text-align: center;
        margin-top: 10vh;
        font-size: max(32px,5.24041666667vw);
        padding: 1rem;
    }
    .imgContainer{
        position: relative;
        margin: 0 auto;
        margin-top: 10vh;
        display: flex;
        gap: 4%;
        align-items: center;
        justify-content: center;
        @media(max-width:767px){
            flex-direction: column;
            align-items: center;
            gap: 2rem;
           
        }
        .imgPair {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        
            a {
                position: relative; 
                display: block; 
            }
        
            a:hover::after {
                opacity: 1;
            }
        
            a::after {
                content: "";
                top: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(255, 147, 173, 0) 0%, rgba(126, 75, 27, 0.658) 100%);
                z-index: 21;
                transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                opacity: 0;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        
            img {
                height: 24rem;
                width: auto;
                border-radius: 2%;
                opacity: 1;
                filter: grayscale(100%) brightness(0.6);
                @media(min-width:768px){
                    height: 18rem;
                }
                @media(min-width:912px){
                    height: 21rem;
                }
                @media(min-width:1200px){
                    height: 30rem;
                }
                @media(min-width:1600px){
                    height: 35rem;
                }
                @media(min-width:2000px){
                    height: 40rem;
                }
                @media(min-width:2440px){
                    height: 50rem;
                }
           
           
           
                  
            
              
            }
            .artistBio{
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                bottom: 0;
                width: 100%;
                padding: 1rem;

                p{
                    color: white;
                    z-index: 22;
                    font-size: clamp(0.6rem, 1.2vw, 1.4rem);
                }
                p:first-of-type {
                    font-size: clamp(0.8rem, 1.5vw, 2rem);
                }
            }
        }
    }
}