.artists {
    margin-top: 20vh;
    height: 180vh;
    width: 100vw;
    

    .imgContainer{
        
        height: clamp(20vw,30vw,40vw);
        display: flex;
        gap: 2%;
        flex-wrap: wrap;
        justify-content: center;
        @media(max-width:768px){
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
        }
        img{
            height: clamp(20vw,30vw,40vw);
            

            @media(max-width:768px){
              height: 80vw;
              width: 80vw;
              border-radius: 5px;
            }
        }
     

    }}
