.tiles {
	position: absolute;
	left:0;
	top:0;
	height: 100vh;
	display: flex;
	opacity: 0.4;
	flex-direction: column;
	justify-content: flex-start;
    margin-top: 2vh;
    
    

}
.tile {
	display: flex;
	width: calc(100% + 33vh);
	animation: runner 50s linear infinite;
    gap: 0.5vw;
}

.tile:nth-child(3) {
	animation-duration: 36s;
   


}
.tile:nth-child(2) {
	animation: runnerRight 80s linear infinite;
    
}
.tileImg{
   
	width: 33vh;
	
	height: 30vh;
	img{
        height: 29vh;
    }
}
.gradient{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}



@keyframes runner {
	to {
		transform: translateX(-25%);
	}
}
@keyframes runnerRight {
	to {
		transform: translateX(0.1%);
	}
}
